*{
    font-family: sans-serif;
}
.div{
    max-width: 830px;
    margin: 0 auto;
}
.text-1{
    text-align: center;
    font-size: 32px;
}
.border-1{
    width: 830px;
    height: 150px;
    border: solid 2px rgba(128, 128, 128, 0.383);
    border-radius: 5px;
    text-align: center;
}
.todo{
   padding-right: 83%;
   margin-top:11px;
   font-size: 18px;
   color: gray;
}
.border-2{
    width: 42px;
    height: 42px;
    border: 2px solid darkturquoise;
    background-color: darkturquoise;
    border-radius: 7px 0px 0px 7px;
}
.img-1{
    width: 25px;
    margin-top: 7px;
}
.border-3{
    width: 700px;
    height: 42px;
    border: solid 2px rgba(128, 128, 128, 0.383);
    border-radius: 0px 7px 7px 0px;

}
.div-2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 40px;
}
.button-1{
    width: 750px;
    height: 42px;
    background-color: darkturquoise;
    color: white;
    border: solid 2px darkturquoise;
    border-radius: 5px;
    font-size: 16px;
}
.button{
    width: 230px;
    height: 43px;
    border-radius: 5px;
    background-color: darkturquoise;
    color: white;
    border: solid 2px darkturquoise;
    font-size: 16px;
}
.div-3{
    display: flex;
justify-content: space-between;
}
.border-4{
    border: 2px solid rgba(128, 128, 128, 0.383);
    width: 830px;
    height: 50px;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.border-5{
    border: 2px solid rgba(128, 128, 128, 0.383);
    width: 830px;
    height: 50px;
 
    display: flex;
    justify-content: space-between;
}
.border-6{
    border: 2px solid rgba(128, 128, 128, 0.383);
    width: 830px;
    height: 50px;
  
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.border-7{
    border: 2px solid rgba(128, 128, 128, 0.383);
    width: 830px;
    height: 50px;
   
    display: flex;
    justify-content: space-between;
}
.border-8{
    border: 2px solid rgba(128, 128, 128, 0.383);
    width: 830px;
    height: 50px;
   
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  
}
.div-10{
    display: flex;
    margin-top: 12px;
    padding-right: 23px;


}
.p-1{
color: red;
font-size: 18px;
margin-left: 18PX;
}
.img-2{
    width: 25px;
}
.image{
padding-left: 18px;
padding-right: 18px;
}
.text{
margin-left: 18px;
color: rgb(0, 0, 0);
}
.div-100{
    display: flex;
    justify-content: space-between;
}
.last-b{
    width: 400px;
    height: 45px;
    background-color: rgba(255, 0, 0, 0.77);
    border: solid 2px rgba(255, 0, 0, 0.77);
    margin-top: 40px;
    border-radius: 4px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.835);
}
.img-22{
    width: 20px;
}